<div class="fw-dialog">
  <h2 mat-dialog-title>{{ isEditMode ? "Edit" : "Add" }} Transaction</h2>

  <app-transaction-form
    [form]="form"
    [accounts]="accounts$ | async"
    [categories]="categories$ | async"
    [tags]="tags$ | async"
  ></app-transaction-form>

  <mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>CANCEL</button>
    <button
      [disabled]="!form.valid || form.pristine"
      mat-flat-button
      color="accent"
      (click)="close()"
    >
      {{ isEditMode ? "UPDATE" : "SAVE" }}
    </button>
  </mat-dialog-actions>
</div>
