<app-main-toolbar></app-main-toolbar>

<mat-progress-bar
  *ngIf="loading$ | async"
  color="accent"
  mode="indeterminate"
></mat-progress-bar>

<section class="container">
  <ng-container *ngIf="tag$ | async as tag">
    <h2><a routerLink="/tags">Tags</a> / {{ tag.name }}</h2>

    <mat-card appearance="outlined">
      <mat-card-title>Transactions</mat-card-title>
      <mat-card-content>
        <app-transactions-table
          [data]="transactions$ | async"
          [displayedColumns]="['date', 'category', 'note', 'amount', 'account']"
        ></app-transactions-table>
      </mat-card-content>
    </mat-card>
  </ng-container>
</section>
