<div class="d-flex justify-content-end w-100">
  <mat-form-field appearance="standard" class="w-25">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #filter />
  </mat-form-field>
</div>

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="code"
  matSortDirection="asc"
  class="table mat-elevation-z8"
>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
    <td mat-cell *matCellDef="let row">
      {{ row.code }}
      <span *ngIf="row.isDefault" class="tag accent-tag">MAIN</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
    <td mat-cell *matCellDef="let row">{{ row.symbol }}</td>
  </ng-container>

  <ng-container matColumnDef="symbolPosition">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol position</th>
    <td mat-cell *matCellDef="let row">
      {{ SymbolPosition[row.symbolPosition] | enumSeparator }}
    </td>
  </ng-container>

  <ng-container matColumnDef="decimalSeparator">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Decimal separator</th>
    <td mat-cell *matCellDef="let row">
      {{ row.decimalSeparator }}
    </td>
  </ng-container>

  <ng-container matColumnDef="groupSeparator">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Group separator</th>
    <td mat-cell *matCellDef="let row">
      {{ row.groupSeparator }}
    </td>
  </ng-container>

  <ng-container matColumnDef="decimalCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Decimal count</th>
    <td mat-cell *matCellDef="let row">
      {{ row.decimalCount }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="w-15">
      <button mat-icon-button routerLink="./{{ row.id }}">
        <mat-icon color="accent" matTooltip="View details"
          >arrow_forward</mat-icon
        >
      </button>

      <button mat-icon-button (click)="edit.emit(row)" color="accent">
        <mat-icon matTooltip="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button (click)="delete.emit(row)" color="warn">
        <mat-icon matTooltip="Delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No currency found</td>
  </tr>
</table>
<mat-paginator
  [pageSizeOptions]="[10, 25, 100]"
  showFirstLastButtons
  aria-label="Select page of currencies"
></mat-paginator>
