<app-main-toolbar></app-main-toolbar>

<ng-container *ngIf="vm$ | async as vm">
  <mat-progress-bar *ngIf="vm.loading" color="accent" mode="indeterminate"></mat-progress-bar>

  <section class="container">
    <ng-container *ngIf="vm.currency as currency">
      <h2><a routerLink="/currencies">Currencies</a> / {{ currency.code }}</h2>

      <div class="d-flex">
        <section class="w-30 me-1">
          <mat-card appearance="outlined" *ngIf="currency">
            <mat-card-title>Details</mat-card-title>
            <mat-card-content>
              <p class="mt-4">
                <mat-slide-toggle [checked]="currency.isDefault">Main currency</mat-slide-toggle>
              </p>
              <p>Symbol: {{ currency.symbol }}</p>
              <p>
                Symbol position:
                {{ currency.symbolPosition | enumDisplay: SymbolPosition }}
              </p>
              <p>Decimal count: {{ currency.decimalCount }}</p>
              <p>Decimal separator: {{ currency.decimalSeparator }}</p>
              <p>Thousands separator: {{ currency.groupSeparator }}</p>
            </mat-card-content>
          </mat-card>
        </section>

        <section class="w-70 ms-1">
          <mat-card appearance="outlined">
            <mat-card-title>Accounts</mat-card-title>
            <mat-card-content>
              <app-currency-accounts [accounts]="vm.accounts"></app-currency-accounts>
            </mat-card-content>
          </mat-card>
        </section>
      </div>
    </ng-container>
  </section>
</ng-container>
