<app-main-toolbar></app-main-toolbar>

<ng-container *ngIf="vm$ | async as vm">
  <mat-progress-bar
    *ngIf="vm.loading; else showContent"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>

  <ng-template #showContent>
    <section class="container d-flex">
      <div class="w-50 me-1">
        <mat-card>
          <mat-card-title>{{ vm.periodLabel }}</mat-card-title>
          <mat-card-content>
            <div class="d-flex justify-content-end mb-3">
              <app-period-selector
                [selectedValue]="vm.filter.selectedPeriod"
                (periodChange)="onSelectedPeriodChange($event)"
              ></app-period-selector>
            </div>

            <div class="mb-4">
              <app-overview-card
                [title]="vm.periodLabel"
                [transactions]="vm.filteredExpenses"
              ></app-overview-card>
            </div>

            <app-trends-card
              [title]="vm.periodLabel"
              [transactions]="vm.filteredExpenses"
            ></app-trends-card>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="w-50 ms-1">
        <app-accounts-card [accounts]="vm.activeAccounts"></app-accounts-card>
      </div>
    </section>
  </ng-template>
</ng-container>
