<app-main-toolbar></app-main-toolbar>

<main class="p-3 d-flex">
  <div class="w-50 me-1">
    <mat-card>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-content>
        <div class="mb-4">
          <app-overview-card
            *ngIf="expenses$ | async as expenses"
            [title]="title"
            [transactions]="expenses"
          ></app-overview-card>
        </div>

        <app-trends-card
          *ngIf="expenses$ | async as expenses"
          [title]="title"
          [transactions]="expenses"
        ></app-trends-card>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="w-50 ms-1">
    <app-accounts-card
      *ngIf="accounts$ | async as accounts"
      [accounts]="accounts"
    ></app-accounts-card>
  </div>
</main>
