<app-main-toolbar></app-main-toolbar>

<section class="container d-flex">
  <div class="w-50 me-1">
    <mat-card>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-content>
        <ng-container *ngIf="expenses$ | async as expenses; else loading">
          <div class="mb-4">
            <app-overview-card
              [title]="title"
              [transactions]="expenses"
            ></app-overview-card>
          </div>

          <app-trends-card
            [title]="title"
            [transactions]="expenses"
          ></app-trends-card>
        </ng-container>

        <ng-template #loading>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="w-50 ms-1">
    <app-accounts-card
      *ngIf="accounts$ | async as accounts"
      [accounts]="accounts"
    ></app-accounts-card>
  </div>
</section>
