@use '~@angular/material' as mat;

@mixin custom-component-themes($theme) {
  $primary: map-get($theme, 'primary');
  $accent: map-get($theme, 'accent');
  $warn: map-get($theme, 'warn');
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  $background-color: mat.get-color-from-palette($background, background);
  $color: mat.get-color-from-palette($foreground, text);

  ::-webkit-scrollbar-thumb {
    border: 2px solid $background-color; /* should match background, can't be transparent */
  }

  ::-webkit-scrollbar-track {
    background-color: $background-color;
  }

  .router-link-active {
    border-bottom: 2px solid mat.get-color-from-palette($accent, 500) !important;
  }

  .tag {
    color: mat.get-contrast-color-from-palette($primary, 400);
    background: #dedede;
  }

  .color-primary {
    color: mat.get-color-from-palette($primary, 500);
  }

  a,
  .color-accent {
    color: mat.get-color-from-palette($accent, 500);
  }

  .color-warn {
    color: mat.get-color-from-palette($warn, 500);
  }

  .accent-tag {
    color: mat.get-contrast-color-from-palette($primary, 400);
    background: mat.get-color-from-palette($accent, 500);
  }

  .mat-row {
    transition: background ease-out 0.2s;
    &:hover {
      background: mat.get-color-from-palette($background, 'hover');
    }
  }
}
