@use "@angular/material" as mat;
@import url("./bootstrap/bootstrap-reboot.css");
@import url("./bootstrap/bootstrap-utility.css");

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

.router-link-active {
  border-bottom: 2px solid red;
}

.transaction-type-Expense {
  color: red;
}
.transaction-type-Income {
  color: green;
}
.transaction-type-Transfer {
  color: gray;
}
