@import url("./bootstrap/bootstrap-reboot.css");
@import url("./bootstrap/bootstrap-utility.css");

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  &:active,
  :focus {
    outline: none !important; // 1
  }
}

table {
  width: 100%;
}

.mat-toolbar .mat-button {
  border-radius: 0;
  margin-right: 0.5rem;
}

.container {
  padding: 1rem;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.tag {
  font-size: 10px;
  padding: 0.1rem 0.25rem;
  border-radius: 2px;
  margin-right: 0.25rem;
}

.total {
  font-size: 2rem;
}

.advanced-pie-legend {
  line-height: 1.5;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 11px;
}
::-webkit-scrollbar:horizontal {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  height: 11px;
  border-radius: 8px;
}
