<mat-toolbar color="primary">
  <nav class="d-flex align-items-center justify-content-between w-100">
    <span class="align-items-center">
      <span class="me-4">
        <img
          src="./assets/images/financius-logo.png"
          class="me-2"
          height="32"
        />

        <a [routerLink]="['/dashboard']">Financius Web</a>
      </span>

      <a
        [routerLink]="['/accounts']"
        routerLinkActive="router-link-active"
        mat-button
        >Accounts</a
      >
      <a
        [routerLink]="['/transactions']"
        routerLinkActive="router-link-active"
        mat-button
        >Transactions</a
      >
      <a
        [routerLink]="['/categories']"
        routerLinkActive="router-link-active"
        mat-button
        >Categories</a
      >
      <a
        [routerLink]="['/tags']"
        routerLinkActive="router-link-active"
        mat-button
        >Tags</a
      >
    </span>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </nav>
</mat-toolbar>
