<app-main-toolbar></app-main-toolbar>

<section class="p-3">
  <h2>Settings</h2>

  <mat-card appearance="outlined">
    <mat-card-title>Your Data</mat-card-title>
    <mat-card-content class="py-3">
      <h3>Financius Backup</h3>

      <!--       <div class="d-flex align-items-center mb-3">
        <input
          type="file"
          class="d-none"
          [accept]="requiredFileType"
          (change)="onFileSelected($event)"
          #fileUpload1
        />
        <button
          [disabled]="loading$ | async"
          mat-flat-button
          color="primary"
          (click)="fileUpload1.click()"
        >
          IMPORT BACKUP
          <mat-icon>cloud_upload</mat-icon>
        </button>

        <ng-container *ngIf="fileUpload1.value">
          <ng-template *ngTemplateOutlet="hasFile"></ng-template>
        </ng-container>
      </div> -->

      <ng-template #hasFile>
        <span class="mx-2">{{ fileName }}</span>

        <mat-spinner
          *ngIf="loading$ | async"
          color="accent"
          mode="indeterminate"
          diameter="24"
        ></mat-spinner>
      </ng-template>

      <div class="d-flex align-items-center mb-3">
        <input
          type="file"
          class="d-none"
          [accept]="requiredFileType"
          (change)="onFileSelected($event, false)"
          #fileUpload2
        />
        <button
          [disabled]="loading$ | async"
          mat-flat-button
          color="warn"
          (click)="fileUpload2.click()"
        >
          CLEAR & RESTORE
          <mat-icon>cloud_upload</mat-icon>
        </button>

        <ng-container *ngIf="fileUpload2.value">
          <ng-template *ngTemplateOutlet="hasFile"></ng-template>
        </ng-container>
      </div>

      <div class="d-flex align-items-center">
        <button
          [disabled]="loading$ | async"
          mat-flat-button
          color="primary"
          (click)="onExportClick()"
        >
          EXPORT BACKUP
          <mat-icon>cloud_download</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
