<mat-card appearance="outlined">
  <mat-card-title>Accounts</mat-card-title>

  <mat-card-content>
    <mat-selection-list dense [multiple]="false">
      <mat-list-option
        *ngFor="let account of accounts"
        [value]="account"
        (selectedChange)="onAccountClicked(account.id)"
      >
        <div class="d-flex justify-content-between w-100">
          <span>{{ account.name }}</span>
          <span>{{ account.balance | fwCurrency: account.currency }}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
