<mat-card>
  <mat-card-title>Accounts</mat-card-title>

  <mat-card-content>
    <mat-selection-list dense [multiple]="false">
      <mat-list-option *ngFor="let account of activeAccounts" [value]="account">
        <div class="d-flex justify-content-between w-100">
          <span>{{ account.title }}</span>
          <span>{{ account.balance | fwCurrency: account.currency_code }}</span>
        </div>
      </mat-list-option>

      <mat-divider></mat-divider>
      <div mat-subheader>Inactive</div>

      <mat-list-option
        *ngFor="let account of inactiveAccounts"
        [value]="account"
      >
        <div class="d-flex justify-content-between w-100">
          <span>{{ account.title }}</span>
          <span>{{ account.balance | fwCurrency: account.currency_code }}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
