<app-main-toolbar></app-main-toolbar>

<section class="container">
  <ng-container *ngIf="account$ | async as account; else loading">
    <h2><a routerLink="/accounts">Accounts</a> / {{ account.name }}</h2>

    <div class="d-flex">
      <section class="w-30 me-1">
        <mat-card>
          <mat-card-title>Details</mat-card-title>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </section>

      <section class="w-70 ms-1">
        <mat-card>
          <mat-card-title>Transactions</mat-card-title>
          <mat-card-content>
            <app-transactions-table
              [data]="transactions$ | async"
              [displayedColumns]="[
                'date',
                'category',
                'tags',
                'note',
                'amount'
              ]"
            ></app-transactions-table>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </ng-container>
</section>

<ng-template #loading>
  <mat-progress-bar></mat-progress-bar>
</ng-template>
